.main {
    display: flex;
    background-color: pink;
    padding: 0.75rem;
    border-radius: 30px;
    outline: 1px solid black;
    color: black;
}
.foto {
    margin: 1.5rem;
    width: 120px;
    height: auto;
    outline: 5px dashed black;
    filter: blur(3px);
    transition: filter 0.5s ease;
}
.foto:hover {
    filter: none; 
}

header {
    display: flex;
    align-items: left;
}
.vertical {
    font-size: 100%;
    display: flex;
    flex-direction: column;
}
.myname {
    margin: 20px;
    font-size: 300%;
}
#information li{
    background-color: hotpink;
    padding: 10%;
    margin: 50px;
    border-radius: 30px;    
}

li {
    list-style: none;
    
}
.titles {
    background-color: hotpink;
    border-radius: 20px;
    padding: 10px;    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    padding: 2rem;
    margin: 1rem;
    background-color: hotpink;
    color:cornsilk;
}

.category {
    background-color: black;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}.main {
    display: flex;
    background-color: pink;
    padding: 0.75rem;
    border-radius: 30px;
    outline: 1px solid black;
    color: black;
}
.foto {
    margin: 1.5rem;
    width: 120px;
    height: auto;
    outline: 5px dashed black;
    filter: blur(3px);
    transition: filter 0.5s ease;
}
.foto:hover {
    filter: none; 
}

header {
    display: flex;
    align-items: left;
}
.vertical {
    font-size: 100%;
    display: flex;
    flex-direction: column;
}
.myname {
    margin: 20px;
    font-size: 300%;
}
#information li{
    background-color: hotpink;
    padding: 10%;
    margin: 50px;
    border-radius: 30px;    
}

li {
    list-style: none;
    
}
.titles {
    background-color: hotpink;
    border-radius: 20px;
    padding: 10px;    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    padding: 2rem;
    margin: 1rem;
    background-color: hotpink;
    color:cornsilk;
}

.category {
    background-color: black;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
